<link rel="stylesheet" href="{{ 'css/product.css' | asset_url }}">

<div class="product-page">
  <div class="product-container">
    <div class="product-image">
      <img src="{{ product.featured_image | image_url: width: 800 }}" alt="Product Image">
    </div>
    <div class="product-details">
      <h1 class="product-title">{{ product.title }}</h1>
      <p class="product-price">{{ product.price | money_with_currency }}</p>
      <p class="product-description">
        {{ product.description  | truncate: 150, '...' }}
      </p>

      {% form 'product', product %}    
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <button class="add-to-cart">Add to Cart</button>
      {% endform %}
    </div>
  </div>
</div>